.main-content {
    background-color: #c1c3f8e3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    width: 60%;
    background-color: #ffffff;
    overflow: hidden;
    align-items: center;
    
}

.konteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem {
    display: flex;
    justify-content: center;
    width: 100%;
    /* Largura desejada para cada gráfico */
    height: 800px;
    /* Altura desejada para cada gráfico */
    margin: 20px;
    /* Espaçamento entre os gráficos */
    float: left;
    /* Alinhamento lado a lado */
    align-items: center;
}

.chart-container {
    width: 950px;
    /* Largura desejada para cada gráfico */
    height: 450px;
    /* Altura desejada para cada gráfico */
    margin: 80px;
    /* Espaçamento entre os gráficos */
    float: left;
    /* Alinhamento lado a lado */
    text-align: center;

    display: flex;
    justify-content: center;

}

.div-texto {
    text-align: center;
    margin: 60px;
}

.div-texto1 {
    text-align: center;
    margin-top: 50px;
}

/* titulo "nossa equipe" */
.heading {
    text-align: center;
    
}

/* nossa equipe */
.team .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding:5rem 2rem;
  }
  
  .team .row .card{
    background:var(--white);
    text-align: center;
    width: 20rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 5rem;
    -webkit-box-reflect: below 0 linear-gradient(transparent 80%, rgba(0,0,0,.2));
  }
  
  .team .row .card .image{
    padding-top: 5rem;
    margin-bottom: 1.5rem;
  }
  
  .team .row .card .image img{
    height:10rem;
    width:10rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .team .row .card .info h3{
    font-size: 2rem;
    color:var(--black);
  }
  
  .team .row .card .info span{
    font-size: 1.8rem;
    color:var(--color);
    display: block;
    margin: .5rem 0;
  }
  
  .team .row .card .info .icons a{
    margin: 1rem;
    font-size: 2rem;
    color:var(--black);
  }
  
  .team .row .card .info .icons a:hover{
    color:var(--color);
  }
  
  .team .row .card::before, .team .row .card::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    height:15rem;
    width:15rem;
    z-index: -1;
    transition: .2s linear;
  }
  
  .team .row .card::before{
    background:var(--color);
    top:-4rem; right: -4rem;
  }
  
  .team .row .card::after{
    background:rgb(145, 189, 255);
    bottom:-4rem; left: -4rem;
  }
  
  .team .row .card:hover::before{
    top:-6rem; right: -6rem;
  }
  
  .team .row .card:hover::after{
    bottom:-6rem; left: -6rem;
  }
  /* fim do nossa equipe  */